@switch (mode) {
  @case ('readOnly') {
    <app-read-only-step
      [content]="readOnlyContent"
      [title]="activity.title"
      (done)="readOnlyDone.emit()"
    />
  }
  @case ('matchingPairs') {
    <app-matching-pairs
      [content]="matchingPairsContent"
      [disabled]="disabled"
      (submitted)="onMatchingSubmitted($event)"
    />
  }
  @case ('gapFill') {
    <app-gap-fill
      [content]="gapFillContent"
      [disabled]="disabled"
      (submitted)="onGapFillSubmitted($event)"
    />
  }
  @case ('audioAndFreeText') {
    <app-audio-and-free-text
      [content]="audioFreeTextContent"
      [disabled]="disabled"
      (submitted)="onAudioFreeTextSubmitted($event)"
    />
  }
  @case ('audioAndGapFill') {
    <app-audio-and-gap-fill
      [content]="audioGapFillContent"
      [disabled]="disabled"
      (submitted)="onAudioGapFillSubmitted($event)"
    />
  }
  @case ('chatReply') {
    <app-chat-reply
      [content]="chatReplyContent"
      [disabled]="disabled"
      (submitted)="onChatReplySubmitted($event)"
    />
  }
  @case ('multipleChoice') {
    <app-reading-multiple-choice
      [content]="readingMultipleChoiceContent"
      [disabled]="disabled"
      (submitted)="onReadingMultipleChoiceSubmitted($event)"
    />
  }
  @case ('multipleChoiceMulti') {
    <app-reading-multiple-choice-multi
      [content]="readingMultipleChoiceMultiContent"
      [disabled]="disabled"
      (submitted)="onReadingMultipleChoiceMultiSubmitted($event)"
    />
  }
  @case ('reorderParagraphs') {
    <app-reorder-paragraphs
      [content]="reorderParagraphsContent"
      [disabled]="disabled"
      (submitted)="onReorderParagraphsSubmitted($event)"
    />
  }
  @case ('readingFillInBlanks') {
    <app-reading-fill-in-blanks
      [content]="readingFillInBlanksContent"
      [disabled]="disabled"
      (submitted)="onReadingFillInBlanksSubmitted($event)"
    />
  }
  @case ('readingWritingFillInBlanks') {
    <app-reading-writing-fill-in-blanks
      [content]="readingWritingFillInBlanksContent"
      [disabled]="disabled"
      (submitted)="onReadingWritingFillInBlanksSubmitted($event)"
    />
  }
  @case ('listeningFillInBlanks') {
    <app-listening-fill-in-blanks
      [content]="listeningFillInBlanksContent"
      [disabled]="disabled"
      (submitted)="onListeningFillInBlanksSubmitted($event)"
    />
  }
  @case ('emailReply') {
    <app-email-reply
      [content]="emailReplyContent"
      [disabled]="disabled"
      [attemptCount]="attemptCount"
      (submitted)="onEmailReplySubmitted($event)"
    />
  }
  @default {
    <app-free-text-entry
      [content]="freeTextContent"
      [disabled]="disabled"
      [attemptCount]="attemptCount"
      (submitted)="onFreeTextSubmitted($event)"
    />
  }
}
