<app-exercise-lesson-intro [goal]="content.learningGoal ?? null" />

<div class="passage-container">
  <p class="passage-text">
    @for (part of passageParts; track $index) {
      @if (part.gapId) {
        <select
          class="gap-select"
          [(ngModel)]="selections[part.gapId]"
          [disabled]="disabled"
          [attr.aria-label]="'Select word for ' + part.gapId"
        >
          <option value="" disabled selected>-- select --</option>
          @for (opt of gapOptions(part.gapId); track opt) {
            <option [value]="opt">{{ opt }}</option>
          }
        </select>
      } @else {
        {{ part.text }}
      }
    }
  </p>
</div>

<div class="submit-row">
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!canSubmit || disabled"
    (click)="submit()"
  >
    Check Answers
  </button>
</div>
